<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
	<table>
		<nav class="menu">
			<div class="logo">
				<img src="{% static 'img/logo.png' %}" width="150" height="38"/>
			</div>

			<ul class="menu-items">
				<li><a href="/">HOME</a></li>
				<li><a href="/quemsomos/">QUEM SOMOS</a></li>
				<li><a href="/servicos/">SERVIÇOS</a></li>
				<li><a href="/agendamento/">AGENDAMENTO</a></li>
				<li><a href="/login/">ENTRAR</a></li>
			</ul>
		</nav>
	</table>
	<div class="card">
		<form class="agendar" method="POST" id="agendaForm" data-clinica-url="{% url 'ajax_load_clinica' %}" data-medico-url="{% url 'ajax_load_medico' %}" novalidate>
			{% csrf_token %}
			<table>
			  {{ form.as_table }}
			</table>
			<br>
			<button type="submit">Agendar Consulta</button>
		</form>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script>
			$("#id_especialidade").change(function () {
			  var url = $("#agendaForm").attr("data-clinica-url");
			  var especialidade_id = $(this).val();

			  $.ajax({
				url: url,
				data: {
				  'especialidade_id': especialidade_id
				},
				success: function (data) {
				  $("#id_clinica").html(data);
				  $("#id_medico").html([]);
				}
			  });
			});

			$("#id_clinica").change(function () {
			  var url = $("#agendaForm").attr("data-medico-url");
			  var clinica_id = $(this).val();
			  var especialidade_id = $("#id_especialidade").val();

			  $.ajax({
				url: url,
				data: {
				  'especialidade_id': especialidade_id,
				  'clinica_id': clinica_id,
				},
				success: function (data) {
				  $("#id_medico").html(data);
				}
			  });
			});
		</script>
	</div>
</body>
</html>