<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="menu">
        <div class="logo">
            <img src="{% static '/img/logo.png' %}" width="150" height="38"/>
        </div>

        <ul class="menu-items">
			<li><a href="/">HOME</a></li>
			<li><a href="/quemsomos/">QUEM SOMOS</a></li>
			<li><a href="/servicos/">SERVIÇOS</a></li>
			<li><a href="/agendamento/">AGENDAMENTO</a></li>
			<li><a href="/login/">ENTRAR</a></li>
         </ul>
    </nav>
    <!--Fim-Navbar-->

    <div class="card">
        <div align="right">
            <a href="/logout/">Logout</a>
        </div>

        <h1>Bem-vindo, {{ nome }}</h1>
        <br><br>
        <h4>Agendamentos:</h4>
	        <ul>
                {% for agenda in agendas %}
                <li>
                    {{ agenda.especialidade }} com Dr(a). {{ agenda.medico }} - {{ agenda.data_agenda }}
                </li>
                <li>
                     Na clínica {{ agenda.clinica }}, {{ agenda.clinica.endereco }}, {{ agenda.clinica.cidade }} - CEP: {{ agenda.clinica.cep }}
                </li><br>
                {% endfor %}
            </ul>
        <br><br>
        <a href="/agendar">Agende sua consulta</a>
    </div>

</body>
</html>